body {
    width: 70%;
    margin: auto;
    background-color: rgb(181, 195, 245);
    font-size: 15px;
    color:black;
}
h1{
    background-color: rgb(255, 8, 0);
    border-style: inset;
}
h2 {
    background-color: rgb(235, 76, 76);
    border-style: inset;
}
.w3-container{
    color: blue;
    background-color: rgb(255, 0, 0);
}
.w3-large{
    color: aqua;
}
a:hover {
    background-color: rgb(0, 0, 0);
}
ul{
    padding-left: 0%; 
    
}
li{
    padding-left: 0%;
    list-style: inside;
    
}